<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Agregar Ingreso / Egreso</h4>
        <p class="card-description">Especifique el monto y el tipo</p>

        <form [formGroup]="incomeOutcomeForm">
          <div class="form-group">
            <label>Descripción</label>
            <input
              type="text"
              formControlName="description"
              class="form-control"
              placeholder="Descripción"
              name="descripcion"
            />
          </div>

          <div class="form-group">
            <label>Monto</label>
            <input
              type="number"
              class="form-control"
              formControlName="amount"
              placeholder="Monto"
              name="monto"
            />
            <p>Debe de ser un monto positivo</p>
          </div>

          <div class="form-group">
            <label>Tipo</label>
            <br />
            <button
              *ngIf="income"
              (click)="setIncomeOrOutcome()"
              type="button"
              class="btn btn-primary btn-block"
            >
              Income
            </button>
            <button
              type="button"
              *ngIf="!income"
              (click)="setIncomeOrOutcome()"
              type="button"
              class="btn btn-danger btn-block"
            >
              Outcome
            </button>
          </div>

          <hr />
          <button
            *ngIf="!isLoading"
            type="button"
            class="btn btn-success mr-2"
            (click)="createIncomeOutcome()"
          >
            <i class="fa fa-save"></i>
            Agregar
          </button>
          <button
            *ngIf="isLoading"
            class="btn btn-success mr-2"
            [disabled]="isLoading"
          >
            <i class="fa fa-spin fa-sync mr-2"></i>
            Loading...
          </button>

          <!--
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Espere por favor...
                </button>
              -->

          <button type="reset" class="btn btn-light">Cancelar</button>
        </form>
      </div>
    </div>
  </div>
</div>
