<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Detalle de ingreso egreso</h4>

        <table class="table" style="width: 100%">
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Monto</th>
              <th>Tipo</th>
              <th>Actions</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let income of incomesOutcomes">
              <td>{{ income.description }}</td>
              <td>{{ income.amount }}</td>
              <td>{{ income.income ? "Income" : "Outcome" }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-primary btn-block"
                  (click)="changeIncomeOutcomeStatus(income)"
                  [ngClass]="{
                    'btn-success': income.income,
                    'btn-danger': !income.income
                  }"
                >
                  {{ income.income ? "Income" : "Outcome" }}
                </button>
                <button
                  (click)="removeIncomeOutcome(income)"
                  class="btn btn-primary btn btn-block"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
